@font-face {
    src: url("../fonts/static/Montserrat-Black.ttf");
}

@font-face {
    src: url("../fonts/static/Montserrat-ExtraBold.ttf");
}

@font-face {
    src: url("../fonts/static/Montserrat-SemiBold.ttf");
}

@font-face {
    src: url("../fonts/static/Montserrat-Bold.ttf");
}

@font-face {
    src: url("../fonts/static/Montserrat-Medium.ttf");
}

@font-face {
    src: url("../fonts/static/Montserrat-Regular.ttf");
}

.root {
    -fx-background-color: #F8F8F8;
    -fx-font-family: 'Montserrat', sans-serif;

    /* Color Palette */
    background-color: #F8F8F8;
    main-color: #FFAB40;
    secondary-color: #455A64;

    light-orange-1: #FED998;
    light-orange-2: #F8D393;
    light-orange-3 :#F9E8D3;

    dark-orange-1: #BB823A;

    gray-1: #EEEEEE;
    gray-2: #E0E0E0;
    gray-3: #BDBDBD;

    text-fill-1: #FFF;
    text-fill-2: #000;

    error: #D83C3E;
    light-navy: #CACED0;
}

.root.dark-theme {
    -fx-background-color: #36373A;

    /* Dark Theme Color Palette */

    background-color: #36373A;

    main-color: #C77C02;
    secondary-color: #1C313A;

    gray-1: #9E9E9E;
    gray-2: #757575;
    gray-3: #424242;

    light-orange-1: #C1985E;
    light-orange-3 : #ECC597;

    text-fill-1: #000;
    text-fill-2: #FFF;

    error: #8B0000;
    light-navy: #67696C;
}

.hyperlink:default {
    -fx-underline: line;
}

#tool-bar {
    -fx-background-color: linear-gradient(gray-1, gray-2);
}

#close, #min {
    -fx-pref-height: 26pt;
    -fx-pref-width: 30pt;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

#close {
    -fx-background-image: url("../icons/close.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 8pt;
}

#min {
    -fx-background-image: url("../icons/minimize.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 8pt;
}

#close:hover {
    -fx-background-color: error;
    -fx-background-image: url("../icons/close-hover.png");
}

#min:hover {
    -fx-background-color: light-navy;
}