@font-face {
    src: url("../fonts/static/Montserrat-Black.ttf");
}

@font-face {
    src: url("../fonts/static/Montserrat-ExtraBold.ttf");
}

@font-face {
    src: url("../fonts/static/Montserrat-SemiBold.ttf");
}

@font-face {
    src: url("../fonts/static/Montserrat-Bold.ttf");
}

@font-face {
    src: url("../fonts/static/Montserrat-Medium.ttf");
}

@font-face {
    src: url("../fonts/static/Montserrat-Regular.ttf");
}

.root {
    -fx-background-color: #F8F8F8;
    -fx-font-family: 'Montserrat', sans-serif;

    /* Color Palette */
    main-color: #FFAB40;
    secondary-color: #455A64;

    light-orange-1: #F6C98C;
    light-orange-2: #F8D393;
    light-orange-3 :#F9E8D3;

    dark-orange-1: #BB823A;

    gray-1: #EEEEEE;
    gray-2: #E0E0E0;
    gray-3: #BDBDBD;
}

.hyperlink:default {
    -fx-underline: line;
}

#toolbar {
    -fx-background-color: linear-gradient(#EEE, #E0E0E0);
    -fx-alignment: center-right;
}

#close-btn, #minimize-btn {
    -fx-border-radius: 0pt;
    -fx-background-radius: 0pt;
}

#close-btn:hover {
    -fx-background-color: #D83C3E;
}

#minimize-btn:hover {
    -fx-background-color: rgb(69, 90, 100, 0.2);
}

