#aside {
    -fx-background-color: main-color;
    -fx-border-radius: 0pt 12pt 12pt 0pt;
    -fx-background-radius: 0pt 12pt 12pt 0pt;
    -fx-alignment: center;
}

#logo {
    -fx-background-image: url("../images/white-logo.png");
    -fx-background-color: none;
    -fx-background-position: center center;
}

.root.dark-theme #logo {
    -fx-background-image: url("../images/black-logo.png");
}

#title, #subtitle {
    -fx-alignment: center;
    -fx-text-fill: text-fill-1;
    -fx-font-weight: bold;
}

#title {
    -fx-font-size: 30pt;
}

#subtitle {
    -fx-font-size: 12pt;
}

#main {
    -fx-spacing: 50pt;
    -fx-alignment: center;
}

#back {
    -fx-background-image: url("../icons/back.png");
}

.root.dark-theme #back {
    -fx-background-image: url("../icons/back__dark-theme.png");
}

#new-password-container {
    -fx-spacing: 20pt;
}

#new-password-lbl {
    -fx-font-family: "Montserrat ExtraBold";
    -fx-font-size: 24pt;
}

.root.dark-theme #new-password-lbl,
.root.dark-theme #save-password-btn{
    -fx-text-fill: main-color;
}

.new-password-field {
    -fx-font-size: 14pt;
    -jfx-unfocus-color: gray-2;
    -jfx-focus-color: light-orange-1;
    -fx-prompt-text-fill: light-orange-1;
    -fx-text-fill: text-fill-2;
    -jfx-label-float: true;
}

#save-password-btn {
    -fx-background-color: secondary-color;
    -fx-text-fill: text-fill-1;
    -fx-font-weight: bold;
    -fx-font-size: 14pt;
    -fx-border-radius: 8pt;
    -fx-background-radius: 8pt;
    -fx-effect: dropshadow(three-pass-box, rgb(0, 0, 0, 0.25), 4, 0, 0, 2);
}

#msg {
    -fx-text-fill: gray-3;
    -fx-font-size: 11pt;
    -fx-font-family: "Montserrat SemiBold";
}

#error-lbl {
    -fx-font-size: 10pt;
    -fx-text-fill: error;
}