.root {
    -fx-background-color: white;
}

#title, #subtitle {
    -fx-alignment: center;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

#title {
    -fx-font-size: 35pt;
    -fx-font-family: "Montserrat ExtraBold";
}

#subtitle {
    -fx-font-size: 13pt;
}