.root {
    -fx-background-color: #EEE;
}

#title, #subtitle {
    -fx-alignment: center;
    -fx-text-fill: #000;
    -fx-font-weight: bold;
}

#title {
    -fx-font-size: 30pt;
}

#subtitle {
    -fx-font-size: 13pt;
}